*{
    margin: 0;
    padding: 0;
}
.Books {
padding: 40px;
    width: 0 auto;
    width: 250px;
    margin: 0 auto;
    border-style: ridge;
    margin-top: 2px;

}

ul {
    list-style-type: none;
}

Button {
    padding: 2px
}